.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
models/embeddings/*
vector_store/faiss_index/*
!models/embeddings/.gitkeep
!vector_store/faiss_index/.gitkeep
data/raw/*
!data/raw/.gitkeep

frontend/node_modules/
frontend/dist/

cache/
